@model AmsT4_BLOG_2.Models.News

@{
    ViewData["Title"] = "Excluir Notícia";
}

<h1>Excluir Notícia</h1>

<h3>Você tem certeza de que deseja excluir esta notícia?</h3>
<div>
    <h4>Notícia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
    </dl>
</div>

<form asp-action="DeleteNews">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </div>
</form>

<div>
    <a asp-action="IndexNews">Voltar para a Lista</a>
</div>
